@import url('https://fonts.googleapis.com/css?family=Quattrocento|Quicksand|Walter+Turncoat');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
  margin-left: 3%;
  width: 80%;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 36px;
  float: left;
  margin-top: 15%;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 60%;
  color: #662439;

}

th {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  color: #557A95;
  text-align: center;
  padding: .5%;
  border: 1px solid #DBDADF;
  background-color: #EFF3F7;
  vertical-align: middle;
  width: auto;
}

td {
  font-family: 'Quicksand', sans-serif;
  color: #662439;
  text-align: center;
  padding: .5%;
  border: 1px solid #DBDADF;
  vertical-align: middle;
  width: auto;
}

tr:nth-child(even) {
  background-color: #EFF3F7;
}
